/** Post Listing */
#post-listing .post {
  width: 80%;
  margin: 0px auto;
  display: flex;
}
#post-listing .side {
  float: left;
  width: 25%;
  flex-grow: 1;
  border-right: 1px solid #D0D0D0;
  padding-right: 10px;
  margin-right: 10px;
}
#post-listing .post-date {
  color: #7F7F7F;
  font-size: 1.2em;
  font-family: Century Gothic, sans-serif;
  height: 100%;
  text-align: right;
}
#post-listing .main {
  float: left;
  width: 70%;
  flex-grow: 3;
}
#post-listing .post-title {
  font-family: Century Gothic, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

/** Individual Post Page **/
#post {
  margin-top: 50px;
}
#post-title {
  margin-bottom: 20px;
  width: 90%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: black;
}
#post-title h1 {
  margin-bottom: 0;
}
#post-title .post-meta {
  font-style: italic;
  font-size: 0.8em;
}
