<div id="organizations" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Organizations</h1>
	</div>
	<div class="content-rounded-panel">

    <a aria-label="GMOD" itemprop="follows" class="avatar-group-item tooltipped tooltipped-n" data-hovercard-type="organization" data-hovercard-url="/orgs/GMOD/hovercard" href="/GMOD" aria-describedby="hovercard-aria-description">
      <img src="https://avatars3.githubusercontent.com/u/342482?s=70&amp;v=4" class="avatar" alt="@GMOD" width="35" height="35">
    </a>                   

    <a aria-label="tripal" itemprop="follows" class="avatar-group-item tooltipped tooltipped-n" data-hovercard-type="organization" data-hovercard-url="/orgs/tripal/hovercard" href="/tripal" aria-describedby="hovercard-aria-description">
      <img src="https://avatars3.githubusercontent.com/u/14332698?s=70&amp;v=4" class="avatar" alt="@tripal" width="35" height="35">
    </a>          

    <a aria-label="UofS-Pulse-Binfo" itemprop="follows" class="avatar-group-item tooltipped tooltipped-n" data-hovercard-type="organization" data-hovercard-url="/orgs/UofS-Pulse-Binfo/hovercard" href="/UofS-Pulse-Binfo" aria-describedby="hovercard-aria-description">
      <img src="https://avatars1.githubusercontent.com/u/15147275?s=70&amp;v=4" class="avatar" alt="@UofS-Pulse-Binfo" width="35" height="35">
    </a>

	</div>
</div>