<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Work Experience</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="work-experience-container">
      {% for role in site.roles %}
        <div class="work-experience-item">
          <div class="work-experience-title">{{role.title}}</div>
          <div class="work-experience-metadata">
            <span class="work-experience-dates">{{role.start}} - {{role.end}}</span>
            <span class="work-experience-employer">{{role.employer}}</span>
          </div>
          <div class="work-experience-details">{{role.description}}</div>
        </div>
      {% endfor %}
		</div>
		<br>
	</div>
</div>
