---
layout: default
---
<div id="navbar" class="navbar-collapse collapse secondary">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/yoga.html">Yoga Journal</a></li>
    <li><a href="/yogavideos.html">Yoga Videos</a></li>
  </ul>
</div>
<div id="post" class="rounded_panel txt_lightgrey">
	<div id="post-title" class="top-rounded-panel grey-bg">
		<h1>{{ page.title }}</h1>
    <div class="post-meta">written by Lacey Sanderson on {{ page.date | date_to_string }}</div>
	</div>
  <div id="content"  class="content-rounded-panel">
    {{ content }}
  </div>
</div>
